
        <main>
            <img id="sadFaceImg"
                src="https://ih1.redbubble.net/image.1849445138.4826/st,small,845x845-pad,1000x1000,f8f8f8.jpg"
                alt="sad face" />
            <h1>404</h1>
            <h2>Page not found</h2>
        </main>
   